@font-face {
    font-family: "Lato-reg";
    src: url("./fonts/Lato/Lato-Regular400.ttf") format("truetype");
}

@font-face {
    font-family: "DMSans";
    src: url("./fonts/DMSans/DMSans-Regular.ttf") format("truetype");
}
@font-face {
    font-family: "Roboto";
    src: url("./fonts/Roboto/Roboto-Regular.ttf") format("truetype");
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Lato-reg";
}

ul,
li {
    list-style-type: none;
}

a {
    text-decoration: none;
}

/***********HEADER********************/
header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 11vh;
    margin-bottom: 1em;
}

header h1 {
    color: #d04f4f;
    font-size: 2em;
    font-weight: 700;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "DMSans";
}

.logoToque {
    height: 2.5em;
}

/*************MAIN********************/
body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.container {
    width: 90vw;
}

/********SEARCH SECTION *****************/

.navbar {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.searchTools {
    width: 100%;
    margin-bottom: 2em;
}

.searchTools form {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.form-group {
    width: 100%;
}

.searchBar {
    margin-bottom: 2em;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: baseline;
}

.searchInput:focus {
    color : black;
}
/****** Tags ************************/
#choosenTags {
    margin-bottom: 1em;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
}

.tag {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 0.9em;
    padding: 0.5em 1.5em;
    margin-right: 1.5em;
    margin-bottom: 1em;
    border-radius: 5px;
}

.tag p {
    font-weight: 700;
    margin-right: 1em;
}

.tag div {
    width: 1.1em;
    height: 1.1em;
    border: 2px solid white;
    border-radius: 100%;
    cursor: pointer;
}

.closeTag {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.8em;
    padding: 0.7em;
}

/*** Three Buttons****************/
.searchInput,
.searchButton {
    background-color: #e7e7e7;
    color: black;
    border: none;
    height: 4em;
}

.searchInput {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    width: 89%;
    color: rgba(0, 0, 0, 0.25);
    font-size: 1.1em;
    font-weight: 400;
    padding-left: 1em;
    outline: none;
}

.searchButton {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    width: 10%;
    font-size: 1.1em;
    font-weight: 400;
    cursor: pointer;
}

.items-search-group {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    min-width: 20vw;
    margin-right: 1em;
    position: relative;
    overflow: visible;
}

.searchItemButton-group {
    display: flex;
    justify-content: flex-start;
    align-items: baseline;
    width: 100%;
}

.searchItemButton {
    height: 4em;
    color: white;
    border: none;
    border-radius: 5px;
    padding-left: 1em;
    font-size: 1.1em;
    font-weight: 700;
    position: relative;
    width: 100%;
}

.searchItemButton::placeholder {
    color: white;
}

.greyedPlaceholder::placeholder {
    color: rgba(255, 255, 255, 0.514);
}




.ustensilesButton {
    background-color: #ed6454;
}

.appareilsButton {
    background: #68d9a4;
}

.ingredientsButton {
    background: #3282f7;
}

#ustensilList {
    background-color: #ed6454;
}

#applianceList {
    background: #68d9a4;
}

#ingredientList {
    background: #3282f7;
}

.buttonArrowDown,
.buttonArrowUp {
    position: absolute;
    right: 1em;
    top: 45%;
    height: 0.7em;
}

.dropDown {
    position: relative;
    width: 100%;
}
.openDown {
    height: 4em;
    padding: 2em 1em;
    position: absolute;
    top: 0px;
    color: white;
    right: 0;
    background: transparent;
    border: none;
    cursor: pointer;
}
.itemsList {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    color: white;
    font-size: 1.1em;
    display: none;
    max-height: 5vh;
    width: 100%;
}

.itemsList ul {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.itemsList li {
    width: 10em;
    padding: 0.3em 0.5em;
    cursor: pointer;
}

/*************Result field***************/
#noMessage{
    display : none
}
#resultSection {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.oneRecipe {
    min-height: 22.5em;
    width: 23.75em;
    background: #e7e7e7;
    margin-bottom: 2em;
    border-radius: 5px;
}

.recipeImg {
    height: 11.1em;
    background: #c7bebe;
    width: 100%;
    border-radius: 5px 5px 0 0;
}

.recipeBody {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 1em;
}

.recipeTopBody {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5em 0;
    width: 100%;
}

.recipeBottomBody {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
}

.recipeBottomBody ul {
    width: 10.5em;
    min-height: 7em;
}

.recipeTime {
    font-size: 1.1em;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
}

.clockImg {
    margin-right: 0.5em;
}

.recipeTitle {
    font-size: 1.1em;
    font-weight: 400;
    max-width: 65%;
}

.ingredientLi {
    font-size: 0.75em;
}

.ingredientName {
    font-weight: 700;
}

.recipeDesc {
    width: 12em;
    height: 8em;
    overflow: hidden;
    font-size: 0.75em;
    display: -webkit-box;
    -webkit-line-clamp: 7;
    -webkit-box-orient: vertical;
    font-family: "Roboto";
}
